
#section1 {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    gap: 30px;
}

.sec1h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: normal;
}

.sec1h2 {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.sec1h3 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.sec1para {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
h4 {
    font-size: 18px;
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    padding-bottom: 30px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding-right: 5px;
    letter-spacing: 1px;
    font-style: normal;
}


.carlinks {
    display: flex;
    gap: 20px;
    width: 100%;
    backdrop-filter: blur(50px);
    border-bottom: 1px solid #d6d6d6;
    position: sticky;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 25px;
    top: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

h4:hover {
    border-bottom-color: #4d4d4d !important;
    color:#000000;
}

#section2 {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
h5{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: normal;
}
.sec2child_cars1{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sec2child_cars2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.i{
    height: 340px;
    width: 340px;
}
.sechr{
    width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}






#section3{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.sec3child{
    display:flex;
    gap: 30px;


}
.x{
    height: 340px;
    width: 340px;
}









#section4{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.m{
    height: 340px;
    width: 340px;
}






#section5{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.m7{
    height: 340px;
    width: 340px;
}







#section6{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.m5{
    height: 340px;
    width: 340px;
}





#section7{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.m3{
    height: 340px;
    width: 340px;
}







#section8{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.m2{
    height: 340px;
    width: 340px;
}







#section9{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 150px;
}
.z4{
    height: 340px;
    width: 340px;
}








/* car car car car */




 .bmw{
    width: 340px;
    height: 220px;
 }
 .carpara1{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.6;
    font-style: normal;
 }
 .carpara2{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
 }
 .carpara3{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
 }
 .cargap{
    display: flex;
    flex-direction: column;
    gap:5px;
 }

.car1:hover .img1,
.car2:hover .img2,
.car3:hover .img3,
.car4:hover .img4,
.car5:hover .img5,
.car6:hover .img6,
.car7:hover .img7,
.car8:hover .img8,
.car9:hover .img9,
.car10:hover .img10,
.car11:hover .img11,
.car12:hover .img12,
.car13:hover .img13,
.car14:hover .img14,
.car15:hover .img15,
.car16:hover .img16,
.car17:hover .img17,
.car18:hover .img18,
.car19:hover .img19,
.car20:hover .img20,
.car21:hover .img21,
.car22:hover .img22,
.car23:hover .img23,
.car24:hover .img24,
.car25:hover .img25,
.car26:hover .img26,
.car27:hover .img27{
     transform:scale(1.1);
}
.img1{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img2{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img3{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img4{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img5{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img6{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img7{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img8{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img9{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img10{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img11{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img12{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img13{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img14{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img15{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img16{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img17{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img18{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;    z-index: 100;
    transition-delay: 0.01s;

}
.img19{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img20{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img21{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img22{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img23{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img24{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img25{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img26{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
.img27{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0.01s;

}
