* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    top: 0rem;
    position: sticky;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.roboto-font200 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.roboto-font400 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-font600 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.roboto-font800 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.roboto-font1000 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: center;
    margin-top: 30px;
}

main {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    align-items: center;
    display: flex;
    gap: 10%;
    width: 95%;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 0.5% 0.1%;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 15%;
    /* padding-right: 5rem; */

}

.nav-span {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-p {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-nav {
    background-color: #ffffff;
    border: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
}

.btn-nav:hover {
    cursor: pointer;
}

.page1:hover,.page2:hover,.page3:hover,.page4:hover,.page5:hover,.page6:hover,.page7:hover {
    background-color: #1c69d4;
    color: #ffffff;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
}

.img_logo a img {
    height: 5rem;
    width: 5rem;
}

.img_logo {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 0.8rem;
    padding-left: 2rem;
}

.logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
}