.whitepara {
    color: #ffffff;
    line-height: 1.6;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-style: normal;

}

#section3 {
    width: 100%;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    gap: 16px;
    box-sizing: border-box;
}

.sec3_child1 {
    flex: 1;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.sec3_child1_up {
    width: 100%;
}

.sec3_child1_up video,
.sec3_child1_up img,
.sec3_child2_up video,
.sec3_child2_up img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.sec3_child1:hover {
    cursor: pointer;
}

.sec3_child1_down {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec3_child2 {
    flex: 1;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.sec3_child2_up {
    width: 100%;
}

.sec3_child2:hover {
    cursor: pointer;
}

.sec3_child2_down {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec3_h6 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.sec3_para {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}











.sec7content6 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

.sec7content6 video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}






 






.sec7content4 {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    gap: 16px;
    padding-bottom: 30px;
}

.sec7content4 video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.threes_last {
    background-image: url("../assets/images/electric/threes1a.jpg");
    height: 250px;
    width: 100%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec7content4child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sec7content4childl {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}
.sec7_h6 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.sec7_para {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}















.sec7content2 {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
    gap: 16px;
}

.sec7content2 img,
.sec7content2 video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.sec7child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec7childcontent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec7_h6 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.sec7_para {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}
.sec7content9 {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.sec7content9_child1 {
    background-image: url("../assets/images/electric/single2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 8px;
}
