#section1 {
    width: 100%;
    margin-top:-350px;
    overflow-x: hidden;
    margin-bottom: -200px;
}






#section2 {
    padding-top: 50px;
    background-color: #262626;
}
.whiteh1 {
    color: #ffffff;
    font-size: 80px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 5px;
}
.whitepara {
    color: #ffffff;
    line-height: 1.6;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-style: normal;
}
.section2content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}








#section3{
    background-color: #ffffff;
    padding-top:200px;
    padding-left:100px;
    padding-right:100px;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.sec3_img1{
    background-image: url('images/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:410px;
}
.sec3_img2{
    background-image: url('images/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:600px;
}
.sec3_img3{
    background-image: url('images/image3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:410px;
}
.sec3_child{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.sec3_head{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.sec3_head2{
      font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}










#section4{
    background-color: #ffffff;
    padding-top:200px;
    padding-left:100px;
    padding-right:100px;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
/* .sec4_img1{
    background-image: url('images/image4.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:410px;
} */
/* .sec4_img2{
    background-image: url('images/image5.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:600px;
} */
/* .sec4_img3{
    background-image: url('images/image6.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:410px;
} */
.sec4_child{
    display:flex;
    flex-direction: column; 
    border: none;
    gap:20px;
}
.sec4_head{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.sec4_head2{
      font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
















#section5{
    background-color: #ffffff;
    padding-top:200px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom: 100px;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
/* .sec5_img2{
    background-image: url('images/image8.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:600px;
} */
/* .sec5_img3{
    background-image: url('images/image9.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:410px;
    height:410px;
} */
.sec5_child{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.sec5_head{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.sec5_head2{
      font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

















footer{
    display:flex;
    flex-direction: column;
    width:100%;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    gap:50px;
    background-color:#262626;
}
.white{
    color:#ffffff;
    font-size:20px;
     font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.whitepara{
    color:#ffffff;
    font-size:20px;
     font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    padding-bottom:15px;
    font-style: normal;
}
.cementheads{
    color:#bbbbbb;
    list-style: none;
    font-size:20px;
    display: flex;
    gap:40px;
    padding-bottom: 30px;;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.cement{
    color:#bbbbbb;
    list-style: none;
    font-size:20px;
    display: flex;
    gap:20px;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.mainfoot{
    display:flex;
    flex-wrap: wrap;
    gap:200px;
    padding-bottom: 50px;
}
.foothr{
    height: 0.1px;
    width:200px;
    margin-bottom:20px;
}
.lastword{
    padding-bottom:50px;
}

